<div class="row whats-new-banner-two-container">
  <div class="large-6 small-order-2 small-12 columns">
    <div class="content-wrapper">
      <h3>Check out faster with the Macy's App</h3>

      <p>Scan items in store, pay on the spot &amp; go.</p>

      <a href="https://www.macys.com/p/scan-and-pay/" data-cm="scanandpay_findoutmore"><button class="small">Find out more</button></a>
    </div>
  </div>

  <div class="large-6 small-order-1 small-12 columns">
    <img src="https://assets.macysassets.com/dyn_img/creativepages/C8080643_scanpay.png" alt="scan and pay logo">
  </div>
</div>
