<div class="row whats-new-banner-one-container">
  <div class="large-6 small-12 columns">
    <img class="whats-new-header" src="https://assets.macysassets.com/dyn_img/creativepages/now_for_everyone_1524687096071.png">
  </div>

  <div class="large-6 small-12 columns">
    <p class="reasons-to-pay">For the first time ever, get new benefits no matter how you pay:</p>

    <ul class="reasons-to-sign-up">
      <li class="first">
        <img class="star" src="https://assets.macysassets.com/dyn_img/creativepages/star_money_days_1524698428346.png">

        <p class="whats-new-bold">Star Money Days</p>
      </li>

      <li>
        <img src="https://assets.macysassets.com/dyn_img/creativepages/perks_and_offers_1524698428342.png">

        <p class="whats-new-bold">Perks &amp; Offers</p>
      </li>

      <li>
        <img src="https://assets.macysassets.com/dyn_img/creativepages/birthday_surprise_1524698428350.png">

        <p class="whats-new-bold">Birthday Surprise</p>
      </li>
    </ul>

    <a href="https://www.macys.com/p/credit-service/learn-and-apply/" data-cm="macysstarrewards_findoutmore"><button class="find-out-more small">Find out more</button></a>
  </div>
</div>
