<div class="row whats-new-banner-hero-container">
  <div class="small-12 columns">
    <h2>New &amp; Now at Macy's</h2>

    <hr align="center">

    <p>Spoiler alert: our latest updates are pretty awesome.</p>
  </div>
</div>
