<div class="row whats-new-banner-three-container">
  <div class="large-6 small-12 columns">
    <img src="https://assets.macysassets.com/dyn_img/creativepages/C8080643_iphone.png">
  </div>

  <div class="large-6 small-12 columns">
    <div class="content-wrapper">
      <h3>There's so much you can do with the macy's app</h3>

      <p>Check prices, pay on the spot, make lists &amp; more.</p>

      <a href="https://www.macys.com/ce/splash/enhance-app/index" data-cm="macysmobileapp_checkitout"><button class="red small check-it-out">Check it out</button></a>

      <a href="https://macys.onelink.me/1821042908?pid=banner&c=whatsnew&af_sub1=banner" data-cm="macysmobileapp_downloadnow"><button class="download-now small">Download now</button></a>
    </div>
  </div>
</div>
